<div id='component'>
    <div id='pagetitle' class="form-group" style="margin-bottom: 1rem;">
        <span>
            <h1 class='page-header'>{{title}}</h1>
        </span>
        <a routerLink='/user/list' class="btn btn-primary back-btn"><i class="fas fa-arrow-left"
                style="margin-right: .5rem;"></i>Back to List</a>
    </div>
    <p *ngIf='!user'>Loading...</p>
    <div *ngIf='user'>
        <div class="input-group name-field">
            <div class="input-group-prepend">
                <span class="input-group-text">First and Last</span>
            </div>
            <input [(ngModel)]='user.firstname' name='FirstName' type="text" class="form-control" id="userfirstname"
                aria-describedby="fnameHelp" placeholder="First">
            <input [(ngModel)]='user.lastname' name='LastName' type="text" class="form-control" id="userlastname"
                aria-describedby="lnameHelp" placeholder="Last">
        </div>

        <div class="input-group name-field">
            <div class="input-group-prepend">
                <span class="input-group-text">Username</span>
            </div>
            <input [(ngModel)]='user.username' name='UserName' type="text" class="form-control col-sm-6" id="username"
                aria-describedby="unameHelp" placeholder="Username">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            <input [(ngModel)]='user.password' name='Password' type="password" class="form-control col-sm-6" id="password"
                aria-describedby="pwdHelp" placeholder="Password">
        </div>

        <div class="input-group name-field">
            <div class="input-group-prepend">
                <span class="input-group-text">Phone</span>
            </div>
            <script>
            </script>
            <input [(ngModel)]='user.phone' name='PhoneNumber' type="text" class="form-control col-sm-6" id="phone"
                aria-describedby="phoneHelp" placeholder="Phone Number" mask='(000) 000-0000'>
            <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
            </div>
            <input [(ngModel)]='user.email' name='Email' type="text" class="form-control col-sm-6" id="email"
                aria-describedby="emailHelp" placeholder="Email">
        </div>

        <div class="create-check d-flex justify-content-center">
            <div class="form-check form-check-inline create-chck-inln">
                <label class="form-check-label" for="userAdmin">Is Admin: </label>
                <input [(ngModel)]='user.isAdmin' name='Admin' type="checkbox" class="form-control col-sm-6"
                    id="userAdmin" aria-describedby="adminHelp" placeholder="Admin">
            </div>

            <div class="form-check form-check-inline create-chck-inln">
                <label class="form-check-label" for="userReviewer">Is Reviewer: </label>
                <input [(ngModel)]='user.isReviewer' name='Reviewer' type="checkbox" class="form-control col-sm-6"
                    id="userReviewer" aria-describedby="reviewerHelp" placeholder="Reviewer">
            </div>
        </div>

        <div class='form-group'>
            <button (click)='create();' class='btn btn-primary'>Create</button>
        </div>
    </div>
</div>
