<div class='component-content'>
    <div id='pagetitle' class="form-group" style="margin-bottom: 1rem;">
        <span>
            <h1 class='page-header'>{{title}}</h1>
        </span>
        <a routerLink='/requestline/list/{{rReqId}}' class="btn btn-primary back-btn"><i class="fas fa-arrow-left"
                style="margin-right: .5rem;"></i>Back to List</a>
    </div>
    <p *ngIf='undefined'>Loading ...</p>

    <div *ngIf='!undefined'>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="product">Product</label>
                </div>
                <select [(ngModel)]='requestline.product' class='form-control custom-select' name='Product'
                    id='product' required>
                    <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Quantity</span>
                </div>
                <input [(ngModel)]='requestline.quantity' name='quantity' type="number" class="form-control"
                    id="quantity" aria-describedby="quantity" placeholder="Quantity" id="quantity" min="0" required>
            </div>
        </div>
    </div>
    <div class='form-group'>
        <button (click)='create()' class='btn btn-primary'>Add Item</button>
    </div>
</div>